Flask==2.2.2
requests==2.28.1
pymongo==4.2.0
Flask-Cors==3.0.10
pandas==1.4.4
async==0.6.2
numpy==1.23.3
Keras-Preprocessing==1.1.2
tweepy==4.10.1
tensorflow==2.10.0
snscrape==0.4.3.20220106
python-socketio==5.7.1
Flask-SocketIO==5.3.1
PyJWT==2.4.0
Flask-JWT-Extended==4.4.4
APScheduler==3.9.1
beautifulsoup4==4.11.1
gevent-websocket==0.10.1
eventlet==0.33.1
